@model Review.Models.Product

<h1>Producten Lijst</h1>

<h2>Producten lijst met StronglyTyped Modem</h2>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.GetProducts())
        {
            <tr>
                <td>@product.Naam</td>
                <td>@product.Prijs</td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            <td>
                <b>Totaal</b>
            </td>
            <td>
                <b>
                    @Model.Calculate()
                </b>
            </td>
        </tr>

    </tfoot>
</table>


