<div class= table>
@{
    
    foreach (var item in ViewBag.Numbers)
    {
        @item <text>&nbsp;&nbsp;</text>
    }
    <br />

    for (int i = 1; i < 21; i++)
    {
        @i <text>&nbsp;</text>
    }
}
</div>